body
{
    margin: 0;
    padding: 0;
}

.padding_left
{
    padding-left: 1%;
}

.padding_right 
{
    padding-right: 1%;
}

#logo
{
    width: 75px;
    height: 75px;
}

#navbar 
{
    background-color: #021420;
    display: flex;
    flex-direction: row;
}

.menu 
{
    display: flex;
    flex-direction: row;
}

.mobile 
{
    display: none;
}

.dropbtn 
{
    background-color: #021420;
    text-align: center;
    align-content:center;
    margin: -10%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: white;
    text-decoration: none;
    font-size: 375%;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: darkslategray;
    min-width:250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show 
{
    display: block;
}
/* Navbar links */
.menu a 
{
    text-align: center;
    padding-top: 7.5%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    text-decoration: none;
    font-size: x-large;
}

/* Navbar links on mouse-over */
.menu a:hover 
{
    background-color: #000;
}

/* Current/active navbar link */
.active 
{
    border-bottom-color: Highlight;
    border-bottom: solid;
    border-bottom-width: 5px;
}

@media screen and (max-width: 500px)
{
    .menu 
    {
        display: none;
    }

    .mobile
    {
        display: initial;
    }
}