@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* Root Variables */
:root {
    --primary-color: #fff;
    --primary-color-hover: #ccc8c8;
    --secondary-color: #181818;
    --sidebar-color: #121212;
    --accent-color: #b91d1d;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* Reset Styles */
body {
    margin: 10px;
    padding: 0;
    font-family: Arial, sans-serif;
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
}