html, body
{
	margin: 0px;
	padding: 0px;
}

/*other smaller screens*/
@media only screen and (max-width: 329px)
{
	.content
	{
		display: none;
	}
	
	.nosupport
	{
		display:inline;
		text-align:center;
	}
	.nosupport2
	{
		display:none;
	}

}

/*moblie look*/
@media only screen and (max-width : 719px ) and (min-width: 330px)
{
	.gridWrapper
	{
		display: grid;
		grid-template-areas: "header header header" "nav nav nav" "main main main" "main main main" "footer footer footer";
	}

	.header h1
	{
		margin: 0px 0px 10px 0px;
		text-align:center;
		font-size:36px;
		color:#fff;
	}

	.header
	{

		grid-area: header;
		background-color: #22272d;
		height: 50px;
	}

	.nav
	{
		background-color:#9F9F9F;
		height: 30px;
		grid-area:nav;
	}
	.main
	{
		grid-area:main;
		height: 400px;
	}

	.footer
	{
		height: 25px;
		border-top: gold 1px solid;
		grid-area: footer;
		text-align:center;
		color: gold;
	}

	.footer p
	{
		margin: 0px 0px 5px 0px;
		height:inherit;
	}

	.nosupport
	{
		display:none;
	}
	.nosupport2
	{
		display:none;
	}
}
/*destop look*/
@media only screen and (min-width : 720px ) and (max-width : 1999px)
{
.gridWrapper
{
	display: grid;
	grid-template-areas: "header header header" "nav nav nav" "main main main" "main main main" "footer footer footer";
}

.header h1
{
	margin: 10px 0px 5px 0px;
	text-align:center;
	font-size:52px;
	color:#fff;
}

.header
{
	grid-area: header;
	background-color: #22272d;
	height: 75px;
}

.nav
{
	background-color:#9F9F9F;
	height: 46px;
	grid-area:nav;
}
.main
{
	height:1080px;
	grid-area:main;
	width: 53%;
}
.footer
{
	height: 25px;
	border-top: gold 1px solid;
	grid-area: footer;
	text-align:center;
	color: gold;
}

.footer p
{
	margin: 0px 0px 5px 0px;
	height:inherit;
}

.nosupport
{
	display:none;
}
.nosupport2
{
	display:none;
}
}
/*4K screens*/
@media only screen and (min-width: 2000px)
{
	.content
	{
		display: none;
	}
	
	.nosupport2
	{
		display:inline;
		text-align:center;
	}
	
	.nosupport
	{
		display:none;
	}
}

