@import url(grid.css);
@import url(nav.css);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap%27');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap%27');
/*
 * this is the base css file call this for the universal look of the pages
 */
.main
{
	color: black;
}
.header
{
	box-shadow: 0px 2px #333b44;
}
.header h1
{
	font-family: 'Comfortaa', sans-serif;
	font-style: initial;
}
