@import url('common.css');

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    background: none;
    color: var(--primary-color);
    border: none;
    display: none;
}

/* Page Content */
#content {
    border: none;
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: var(--sidebar-color);
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.3s;
}

.sidebar .logo {
    color: var(--accent-color);
    font-weight: bold;
    cursor: default;
}

.logo {
    font-size: 48px;
    margin: 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 28px;
}

.sidebar nav ul li a:hover {
    color: var(--primary-color-hover);
    text-decoration: underline var(--accent-color);
}

i {
    font-size: 18px;
}

/* Main Content */
main {
    margin-left: 14.5rem;
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 250px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img:hover {
    box-shadow: var(--accent-color) 0px 0px 10px;
    cursor: pointer;
}

/* Bottom Music Player */
.bottom-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.player-controls button {
    background: none;
    border: none;
    font-size: 32px;
    color: var(--primary-color);
    cursor: pointer;
}

.player-controls button:hover {
    color: var(--accent-color);
}

.player-timeline {
    margin-right: 2rem;
}

#seek-bar {
    accent-color: var(--accent-color);
}

@media  screen and (max-height: 300px) {
    #content{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        margin-left: 3rem;
        margin-top: 0.4rem;
    }

    .sidebar {
        background-color: rgba(0, 0, 0, 0);
        transform: translateX(-70%);
        -webkit-transform: translateX(-70%);
        -moz-transform: translateX(-70%);
        -ms-transform: translateX(-70%);
        -o-transform: translateX(-70%);
    }

    .sidebar.active {
        background-color: var(--sidebar-color);
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    main {
        margin-left: 0;
    }

    .bottom-player {
        height: fit-content;
        transform: translateX(-0.65rem);
        margin: 0;
        flex-direction: column;
        -webkit-transform: translateX(-0.65rem);
        -moz-transform: translateX(-0.65rem);
        -ms-transform: translateX(-0.65rem);
        -o-transform: translateX(-0.65rem);
    }

    .player-info {
        min-height: fit-content;
        margin: 0;
        padding: 0;
        transform: translateY(-1rem) scale(1.2);
        -webkit-transform: translateY(-1rem) scale(1.2);
        -moz-transform: translateY(-1rem) scale(1.2);
        -ms-transform: translateY(-1rem) scale(1.2);
        -o-transform: translateY(-1rem) scale(1.2);
    }

    .player-controls {
        transform: translateY(-1rem) scale(1.8);
        -webkit-transform: translateY(-1rem) scale(1.8);
        -moz-transform: translateY(-1rem) scale(1.8);
        -ms-transform: translateY(-1rem) scale(1.8);
        -o-transform: translateY(-1rem) scale(1.8);
}


    .player-timeline span {
        display: none;
    }

    .player-timeline input {
        width: 60vw;
        transform: translateX(7%) scale(1.6);
        -webkit-transform: translateX(7%) scale(1.6);
        -moz-transform: translateX(7%) scale(1.6);
        -ms-transform: translateX(7%) scale(1.6);
        -o-transform: translateX(7%) scale(1.6);
}
}

@media screen and (max-width: 480px) {

    #content {
        height: 70vh;
    }

    .bottom-player {
        z-index: 2;
    }

    .sidebar {
        z-index: 1;
    }

    .top {
        transform: translateY(-1rem);
        -webkit-transform: translateY(-1rem);
        -moz-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
        -o-transform: translateY(-1rem);
    }
}

@media  screen and (max-width: 400px) {

    #content {
        height: 60vh;
    }

    header input {
        width: 225px;
    }
}
