@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap')
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

html body 
    margin: 0px
    border: 0px
    background-color: white

#page 
    display: none
    text-align: center

#header 
    display: flex
    flex-direction: row


#title 
    font-family: 'Grenze', serif
    font-size: 48px
    margin-bottom: 0.5%
    margin-top: 0.5%
    color: wheat

#nav    
    display: flex
    flex-direction: row
    list-style: none
    font-size: 26px
	
	

#nav a
    padding-top: 6%
    padding-left: 4%
    padding-right: 4%
    text-decoration: none
    font-weight: bold
    color: wheat

.contaner
    display: flex
    flex-direction: row
    margin: 0px
    padding: 0px
	
.icon 
    width: 5%
    background-size: 100% 100%
    border-radius: 50%
    height: 75px

.line 
    width: 70%
    height: 1px
    background: #fff

.anwser h1
    font-size: 48px

.sanwser p 
    font-size: 32px
	
.titleText
    margin: 0px
    padding: 0px
    text-align: center
    font-size: 48px

#footer 
    background: black
    color: white
    border-top: solid gold
    text-align: center
    font-family: 'Raleway', sans-serif
    font-size: 8px
