@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

:root {
    --text_colour: 180,180,180;
    --body_colour: 214,214,214;
    --container_colour: 68,68,76;
    --darks_colour: 11,9,9;
    font-family: 'Inter', sans-serif !important;
    font-weight: 200;
}

body {
    background-color: rgb(var(--body_colour));
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(max(40px,(100vh / 100) * 5)) 1fr calc(max(200px,(100vh / 100) * 5));
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "."
        "footer";
    height: 100vh;
}


header {
    grid-area: header;
    --height: calc(max(40px,(100vh / 100) * 5));
    --header_colour: rgba(var( --darks_colour),0.80);
    background-color: var(--header_colour);
    color: rgb(var(--text_colour)) !important;
    height: var(--height);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: var(--height);
    gap: 0px 0px;
    grid-template-areas:
        ". menu .";
}

#menu {
    grid-area: menu;
    display: grid;
    align-content: center;
    text-align: center;
    justify-content: center;
    grid-template-columns: calc(var(--height) - (var(--height) / 4)) auto;
    grid-template-rows: var(--height);
    gap: 0px 10px;
    grid-template-areas:
        ". .";
}

    #menu img {
        margin-top: calc(var(--height) / 8);
        border-radius: 50%;
        height: calc(var(--height) - (var(--height) / 4));
        width: calc(var(--height) - (var(--height) / 4));
        opacity: 0.80;
        box-shadow: 0 0 5px 6px rgba(255,255,255,.1);
    }

    #menu ol {
        padding: 0;
        float: left;
        margin: 0;
        list-style: none;
        display: inline-flex;
        flex-direction: row;
        height: var(--height);
        gap: 0px 10px;
    }

        #menu ol li {
            padding: calc(var(--height) / 16) calc(var(--height) / 8) 0 calc(var(--height) / 8);
            font-size: calc(var(--height) - ((var(--height) / 100) * 30));
        }

            #menu ol li a {
                padding: 0;
                margin: 0;
                height: inherit;
                flex-shrink: 1;
                color: rgb(var(--text_colour)) !important;
                text-decoration: none;
            }

footer {
    --height: calc(max(200px,(100vh / 100) * 5));
    color: rgb(var(--text_colour)) !important;
    background-color: rgb(var(--darks_colour));
    text-align: center;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 2.8fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        ". texttop texttop ."
        "projects projects colum_two colum_two"
        ". copyright copyright .";
}

#projects {
    grid-area: projects;
}

#colum_two {
    grid-area: colum_two;
}

#copyright {
    border-top: thin groove rgba(255,255,255,0.40);
    grid-area: copyright;
}

#copyright, #colum_two, #projects {
    font-size: calc(var(--height) / 15) !important;
    padding: 0;
}

    #copyright h3 {
        margin: 2.5px;
    }

#texttop {
    grid-area: texttop;
}
