@import url("iplatfrombase.css");

#header
{
	height:75px;
	font-size:20px;
}

#footer
{
	font-size:8px;
}

.content
{
	font-size:21px;
}

#filler
{
	height: 450px;
}

.navbar a 
{
  font-size: 16px;
  padding: 7px 8px;
}


.dropdown .dropbtn 
{
  font-size: 16px;  
  padding: 7px 8px;
}

.dropdown-content 
{
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
  padding: 12px 16px;
}

.slideshow-container 
{
	max-width:1024px;
}

.mySlides img
{
	height: 400px;
	margin-left: 240px;
}

.prev, .next 
{
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

.text 
{
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
}

.numbertext 
{
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

.dot
{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
}

