@import url("iplatfrombase.css");
#header
{
	height:50px;
	font-size:10px;
}

#loader 
{
  position: absolute;
  top:50%;
  left:50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #4346DC;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


#footer
{
	font-size:6px;
}

.text p
{
	font-size: 32px;
	color:#001DFF;
}

.mySlides img
{
	height:150px;
	width: 180px;
}

.navbar a 
{
  font-size: 16px;
  padding: 2px 10px;
}


.dropdown .dropbtn 
{
  font-size: 16px;  
  padding: 2px 10px;
}

.dropdown-content 
{
  min-width: 120px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
  padding: 9px 12px;
}

.mySlides img
{
	margin-left:50px;	
}

.content
{
	font-size:14px;
}

.content2
{
	font-size:14px;
}

#filler
{
	height: 430px;
}

.prev, .next 
{
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

.text 
{
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
}

.numbertext 
{
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

.dot
{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
}
